body {
    font-family: Arial, sans-serif;
    background-color: #686b6a; /* Cor de fundo */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 50px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.logo {
    width: 250px; /* Logo bem pequena */
    margin-bottom: 10px; /* Espaço abaixo da logo */
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px; /* Reduz o espaço abaixo do título Login */
}

input, select {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px;
    width: 100%;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

h1, h2 {
    margin-bottom: 20px;
}
#hemocentro {
    width: 75%;
    background-color: #481A15;
}
#hemocentro:hover {
    background-color: #33120e;
}